USE [master]
GO
/****** Object:  Database [STTProjects.TimeSheet]    Script Date: 30/07/2016 15:48:01 ******/
CREATE DATABASE [STTProjects.TimeSheet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STTProjects.TimeSheet', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\STTProjects.TimeSheet.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'STTProjects.TimeSheet_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\STTProjects.TimeSheet_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STTProjects.TimeSheet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STTProjects.TimeSheet]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 30/07/2016 15:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Date] [date] NOT NULL,
	[ProjectID] [bigint] NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActivitiesWorkers]    Script Date: 30/07/2016 15:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivitiesWorkers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Hours] [real] NOT NULL,
	[ActivityID] [bigint] NOT NULL,
	[WorkerID] [bigint] NOT NULL,
	[Comment] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_ActivitiesWorkers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 30/07/2016 15:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Workers]    Script Date: 30/07/2016 15:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](300) NOT NULL,
	[LastName] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Workers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [FK_Activities_Projects] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Projects] ([ID])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [FK_Activities_Projects]
GO
ALTER TABLE [dbo].[ActivitiesWorkers]  WITH CHECK ADD  CONSTRAINT [FK_ActivitiesWorkers_Activities] FOREIGN KEY([ActivityID])
REFERENCES [dbo].[Activities] ([ID])
GO
ALTER TABLE [dbo].[ActivitiesWorkers] CHECK CONSTRAINT [FK_ActivitiesWorkers_Activities]
GO
ALTER TABLE [dbo].[ActivitiesWorkers]  WITH CHECK ADD  CONSTRAINT [FK_ActivitiesWorkers_Workers] FOREIGN KEY([WorkerID])
REFERENCES [dbo].[Workers] ([ID])
GO
ALTER TABLE [dbo].[ActivitiesWorkers] CHECK CONSTRAINT [FK_ActivitiesWorkers_Workers]
GO
USE [master]
GO
